<p>Hey {{username}},</p>
<p>You have been added as Tester for {{swInfo.swType.typeTitle}}</p>
<p>

  <a href='{{homepageUrl}}/sw-type/{{swInfo.swType.swTypeId}}'>
    Go HK-QA Homepage
  </a>
</p>

<p>If you did not request this email you can safely ignore it.</p>